<% include ../partials/adminheader %>

<div id="type" style="display: none;">page</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <i class="fab fa-product-hunt"></i>
            Dashboard
        </a>
    </div>
</nav>
<br>
<div class="col-lg-12">
    <section class="box nobox marginBottom0">
        <div class="content-body">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">
                        <i class='pull-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
                        <div class="stats">
                            <h4><strong>45%</strong></h4>
                            <span>New Orders</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">
                        <i class='pull-left fa fa-shopping-cart icon-md icon-rounded icon-accent'></i>
                        <div class="stats">
                            <h4><strong>243</strong></h4>
                            <span>New Products</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">
                        <i class='pull-left fa fa-dollar icon-md icon-rounded icon-purple'></i>
                        <div class="stats">
                            <h4><strong>$3424</strong></h4>
                            <span>Profit Today</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="r4_counter db_box">
                        <i class='pull-left fa fa-users icon-md icon-rounded icon-warning'></i>
                        <div class="stats">
                            <h4><strong>1433</strong></h4>
                            <span>New Users</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .row -->
        </div>
    </section>
</div>

<% include ../partials/adminfooter %>