        </div>
    </div>
    <!-- <br><br><br> -->
    <hr>
    <footer id="footer">
        <p class="text-center">Copyright - Group01 - ShoppingApp</p>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/admin.js"></script>
</body>

</html>