
    <br><br><br>
    <hr>
    <footer id="footer">
        <p class="text-center">Copyright - Group01 - ShoppingApp</p>
    </footer>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.easy-autocomplete.min.js"></script>
    <script src="/js/search.js"></script>
</body>

</html>